.input:hover, textarea:hover{
    cursor: default;
}
.input, #observaciones{
    border-style: dashed;
}

.visualizarR{
    margin-left: auto;
    margin-right: auto;
    padding: 10 50 10 50;
    font-family: Lato, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #64c7a0;
}
#eliminarR{
    background-color: rgb(150, 20, 20);
    color: white;
}
#btns-visualizar{
    float: right;
    margin-right: 10%;
}
#bts-vis{
    margin-left: auto;
    display: flex;
}