/*
input[type=text]{
    cursor: text;
    padding: 7px 10px;
    width: 100%;
    border-radius: 5px;
}
input[type=text]:focus{
    background-color: rgb(246, 232, 153);
}
button{
    cursor: pointer;
}
*/
::placeholder{
    justify-content: center;
    text-align: center;
}
#formulario{
    margin: 10px;
    padding: 0 40px;
}
#formulario div div label, #observaciones{
    display: flex;
}
#formulario div div input, #observaciones{
    cursor: text;
    border-radius: 10px;
    margin-left: 5px;
    border: 1px solid #000000;
}
#formulario div div input:focus, #observaciones:focus{
    background-color: rgb(245, 232, 153);
}
/* (246, 232, 153) */
#fila1 input, #fila2 input{
    width: 100%;
    height: 30px;
    padding: 15px 7px;
}
#fila3 input{
    padding: 2px 7px;
    display: flexbox;
    text-align: center;
}
#hdurAn, #mdurAn, #hxfti, #mxfti{ 
    width: 40%;
}
#presCam{
    width: 80%;
}
#formulario div{
    margin: auto;
    padding: 5px;
}
#observaciones{
    margin: auto;
    width: 100%;
    resize: none;
    padding: 10px;
}
#fila1, #fila2, #fila3{
    display: flex;
}
#formulario div div{
    width: 80%;
    margin: 15px;
}
#btn-crearR{
    cursor: pointer;
}
#formulario div div #clavMues {
    width: calc(100% - 40px); /* Reduce el ancho del input al 70%. Puedes ajustar este valor según tus necesidades. */
}
#formulario div div .botonMas {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px; /* Iguala la altura al input. */
    border-radius: 50px;
    background-color: #48ce6a;
}
ul{
    margin-top: 5px;
    padding: 5px;
    width: 25%;
    position: absolute;
    white-space: nowrap; /* Evita que los elementos li se rompan en múltiples líneas */
    overflow: hidden; /* Oculta el contenido adicional si es necesario */
    background-color: white;
    border: 1px solid black;
}
/* Estilos para los botones "Eliminar" en la lista de claves */
ul li button {
    float: right; /* Hace que los botones se alineen a la derecha */
    margin-left: 5px; /* Agrega un espacio entre los botones */
    height: 20px;
}
li{
    width: 100%;
    height: 20px;
}