#nada{
    color: rgb(245, 232, 153); /*Input focus*/
    color: #48ce6a; /*Botón más*/
}
::placeholder{
    justify-content: center;
    text-align: center;
}
input:hover, textarea:hover{
    cursor: text;
}
input:focus, textarea:focus{
    background-color: rgb(245, 232, 153);
}
input, textarea{
    border-radius: 10px;
    width: 100%;
    border: 1px solid #000000;
}
input{
    height: 30px;
    padding: 2px 7px;
    text-align: center;
}
textarea{
    padding: 2px 10px;
    text-align: justify;
}
label{
    display: block;
}
button{
    cursor: pointer;
}
#formulario{
    height: 70%;
    margin: 10px 0px;
    padding: 0px;
    width: 100%;
}
label, input, textarea, li, li button, span{
    font-size: medium;
}
ul{
    border-radius: 5px;
    margin: 0px 0px;
    list-style-type: none;
}
/* Ajusta el contenido de los elementos de la lista en un solo renglón */
ul, li, li p, button{
    display: flex;
}
li p{
    margin: 0 auto;
    display: block;
}
ul input{
    height: fit-content;
    width: 16ch;
}
li{
    position: block;
    background-color: white;
    padding: 2px 1px;
    justify-content: center;
    width: fit-content;
}
/* Estilos para los botones "Eliminar" en la lista de claves */
ul li button {
    float: right; /* Hace que los botones se alineen a la derecha */
    margin-left: 5px; /* Agrega un espacio entre los botones */
}
#fila1{
    height: 10%;
}
#fila1 > div, #fila4 > div {
    flex: 1; /* Hace que los div ocupen un tercio del ancho disponible */
    justify-content: center;
}
#fila1 div:first-of-type input{
    width: 30ch;
}
#fila1 div input{
    width: 50ch;
}
#fila2{
    height: 55%;
}
#fila2, #fila4{
    justify-content: space-between; /* Esto centrará horizontalmente los divs y distribuirá el espacio entre ellos */
}
#fila2 input:not(#durAn, #xfti), #fila4 input{
    width: 25ch;
}
#duran, #xfti{
    width: 20ch;
}
#divDurAn, #divXFTI, #divPresCam{
    padding-left: 4px;
    padding-right: 4px;
    border-left: 1px solid black;
}
/* Implementar líneas entre fila 2*/
#fila3{
    flex-direction: column;
    height: calc(20% + 5px);
}
#fila3 label{
    text-align: left;
}
#fila4{
    height: 10%;
}
#observaciones{
    resize: none;
}
/*
#fila1, #fila2{
    border-bottom: 1px dashed black;
}
*/
#fila2 div{
    width: 100ch;
}
#claveList{
    margin-left: 40px;
}
#fila2 div:not(#divClavMues){
    width: 100%;
    margin: 0;
}
.filas{
    display: flex;
    margin-bottom: 15px;
    text-align: center;
}
.filas div{
    margin: 0px 0px;
}
.filas div input{
    margin-left: 10px;
}
.botonMas {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px; /* Iguala la altura al input. */
    border-radius: 50px;
    background-color: #48ce6a;
}
#infoFormulario{
    margin-top: 30px;
}
#claveList li{
    width: 45ch;
}
#divDurAn{
    width: 30ch;
}
#claveList p{
    width: 30ch;
}