a{
    cursor: pointer;
    color: blue;
}
td{
    text-align: center;
    padding: 3px;
}
/* Estilo personalizado para los checkboxes */
input[type="checkbox"] {
    width: 15px; /* Ancho personalizado */
    height: 15px; /* Altura personalizada */
}
